.window__task {
    flex-grow: 2;
    display: flex;
    flex-direction: column;

    margin: 2em 3em;
    height: 100%;
    overflow-y: auto;

    .card {
        background-color: $white;
        padding: 10px 20px;
        margin-bottom: 4px;

        &__overlay {
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &__window {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            min-height: 200px;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 1em;
        }

        &__header {
            min-height: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            align-items: center;

            .title {
                font-weight: 600;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            .description {
                width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            margin-bottom: 1em;
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            button {
                margin-left: 4px;
            }
        }
    }

    .card:hover {
        background-color: $selected;
    }
}
